@charset "utf-8";
//套餐样式
.price{
    .taocan-btn{
        .btn{
            position: relative;
            width: auto;
            border: 1px solid #D5D5D5;
            color: red;
            background-image: none;
            b{
                font-size: 1.4em;
            }
            s{
                position: absolute;
                bottom: 0;
                right: 0;
                display: block;
                width: 20px;
                height: 20px;
                background: url(../img/price_on.png);
            }
        }
    }
}
.taocan-banner{
    width: 850px;
    height: 230px;
}
.pic-upload{
    position: absolute;
    left: 45px;
    bottom: 0;
    img{
        float: left;
    }
    .right-box{
        overflow: hidden;
        padding: 10px 0 0 10px;
    }
    h5{
        line-height: 30px;
    }
    button{
        width: 138px;
        height: 30px;
        border: none;
        color: #fff;
        background: #dcbf87;
        cursor: pointer;
        outline: none;
        &:active{
            background: darken(#dcbf87,20%);
        }
    }
}
//详情页新样式
.b1{
    padding-right: 15px;
}
.b3{
    img{
        display: block;
    }
    .brand{
        margin-bottom: 13px;
    }
    @at-root .section{
        overflow: hidden;
        .fn_left{
            margin-right: 36px;
        }
        h2,p{
            font-size: 12px;
            color: #6b6b6b;
        }
        h2{
            padding-top: 24px;
            font-weight: normal;
        }
    }
    .img-box{
        width: 780px;
        margin: 20px auto 0;
    }
}









