.price{
    .taocan-btn{
        .btn{
            position: relative;
            width: auto;
            border: 1px solid #D5D5D5;
            color: red;
            background-image: none;
            b{
                font-size: 1.4em;
            }
            s{
                position: absolute;
                bottom: 0;
                right: 0;
                display: block;
                width: 20px;
                height: 20px;
                background: url(../img/price_on.png);
            }
        }
    }
}
.taocan-banner{
    width: 850px;
    height: 230px;
}
.pic-upload{
    position: absolute;
    left: 45px;
    bottom: 0;
    img{
        float: left;
    }
    .right-box{
        overflow: hidden;
        padding: 10px 0 0 10px;
    }
    h5{
        line-height: 30px;
    }
    button{
        width: 138px;
        height: 30px;
        border: none;
        color: #fff;
        background: #dcbf87;
    }
}











