@charset "utf-8";
@import "bianliang";
//午后茶点说明
.description{
    margin: 0 auto;
    td{
        vertical-align: top;
    }
    .goods_h1_main{
        padding-top: 5px;
        text-align: center;
    }
}
//快捷入口
.rukou{
    text-align: center;
    li{
        display: inline-block;
        vertical-align: middle;
        margin: 0 40px;
        a{
           font-size: 24px; 
           color: #969495;
           padding: 0 10px 3px;
           &.active{
               color: $_blue;
               border-bottom: 5px solid $_blue;
           }
           .imooc-icon{
               font-size: 44px;
               position: relative;
               top: -2px;
               margin-right: 5px;
               vertical-align: middle;
           }
        }
    }
    li{
        display: inline\9;
    }
}
.search_container{
    width: 1120px;
    overflow: hidden;
    margin: 36px auto 0;
    label{
        float: left;
        margin-right: 32px;
        line-height: 46px;
        font-size: 20px;
        .imooc-icon{
            position: relative;
            top: 6px;
            font-size: 28px;
        }
        s{
            width: 0;
            height: 0;
            margin-left: 18px;
            display: inline-block;
            border: 5px solid transparent;
            border-top-color: #8c8c8c;
            line-height: 0;
        }
        s{
            display: inline\9;
        }
    }
     .search_box{
        .search_group{
            position: relative;
            width: 800px;
            border: 1px solid #bfbfbf;
            overflow: hidden;
            background: #fff;
            input,button{
                height: 44px;
                border: none;
                background: none;
                outline: none;
            }
            input{
                float: left;
                line-height: 44px\9;
                font-size: 24px;
                text-indent: 10px;
                padding-right: 50px;
                width: 800px;
            }
            button{
                position: absolute;
                right: 0;
                cursor: pointer;
                width: 50px;
                .imooc-icon{
                    color: #969291;
                    font-size: 26px;
                }
            }
        }
    }
    .quyu{
        margin-top: 20px;
        padding-right: 166px;
        line-height: 2.4em;
        a{
            display: inline-block;
            font-size: 18px;
            margin-right: 36px;
            &.active{
                color: $_blue;
            }
        }
    }
}
.class{
    width: 1120px;
    margin: 20px auto;
    font-size: 18px;
    span{
        padding-right: 14px;
        border-right: 1px solid #9b9b9b;
        .imooc-icon{
            font-size: 22px;
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }
    a{
        padding: 0 10px;
        color: #727272;
        &.active{
            color: $_blue;
        }
    }
}
//推荐弹出框样式
.tuijian{
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    margin-top: -200px;
    margin-left: -300px;
    background: #fff;
    z-index: 999999999;
    h5{
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: normal;
    }
    h4{
        text-align: center;
        color: #005db3;
        font-weight: normal;
        font-size: 24px;
        line-height: 2.5em;
        span{
            font-weight: bold;
        }
    }
    .inner_box{
        width: 400px;
        margin: 0px auto;
        overflow: hidden;
        img{
            float: left;
            margin-right: 20px;
            width: 200px;
        }
        h6{
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 20px;
            margin-top: 40px;
        }
        p{
            font-size: 20px;
            strong{
                color: red;
                font-size: 1.5em;
            }
            span{
                color: red;
            }
        }
    }
    .ok{
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        display: block;
        width: 200px;
        height: 50px;
        margin: 20px auto;
        background: #333a70;
        border: none;
        outline: none;
    }
}
.yhq_container{
    ul{
        overflow: hidden;
        padding-left: 20px;
        margin-right: -10px;
        margin-bottom: -26px;
    }
    li{
        $color:#065cb3;
        width: 570px;
        height: 250px;
        float: left;
        margin-right: 28px;
        *margin-right: 24px;
        margin-bottom: 28px;
        *margin-bottom: 24px;
        border: 1px solid #dddddd;
        @include v-gradient(#fff,#f2f4f3,#f8f8f8);
        .left{
            float: left;
            padding: 40px 0 0 50px;
            h2{
                font-size: 26px;
                color:  $color;
            }
            h3{
                font-size: 20px;
                color:  $color;
                margin: 10px 0;
                font-weight: normal;
            }
            p{
                color:  $color;
                font-size: 14px;
            }
            div{
                color:  $color;
                font-size: 30px;
                margin-top: 10px;
                del{
                    color: #979596;
                    font-size: 0.8em;
                }
                span{
                    font-size: 2em;
                }
            }
        }
        .right{
            float: right;
            margin-right: 50px;
            margin-top: 35px;
            img{
                vertical-align: top;
            }
            a{
                color: #fff;
                display: block;
                text-align: center;
                line-height: 50px;
                font-size: 23px;
                margin-top: 16px;
                @include v-gradient(#5ab8ec,#3399e1,#47a9e6);
            }
        }
    }
}
//商品列表
.goods_list_page {
  .bg_top {
    background: url(../img/goods_list_top.png) no-repeat;
    width: 1226px;
    height: 27px;
  }
  .bg {
    background: url(../img/goods_list_con.png) repeat-y;
  }
  .bg_bot {
    background: url(../img/goods_list_bot.png) no-repeat;
    height: 40px;
    width: 1226px;
  }
  .goods_bg {
    width: 1212px;
    margin: 0 auto;
    color: #666;
    font-size: 14px;
    .goods_bg_content {
      width: 1212px;
      margin: 0 auto;
      background: url(../img/goods_bg_con.png) repeat-y;
      .iteam {
        padding: 0 40px;
      }
      .img {
        width: 200px;
        height: 200px;
        display: block;
      }
    }
    .goods_bg_top {
      width: 1212px;
      height: 30px;
      background: url(../img/goods_bg_top.png) no-repeat;
    }
    .goods_bg_bot {
      width: 1212px;
      height: 30px;
      background: url(../img/goods_bg_bot.png) no-repeat;
      margin-bottom: 30px;
    }
    .iteam {
      height: 200px;
      clear: both;
    }
    .goods_info {
      float: left;
      width: 610px;
      padding: 20px 20px 0 60px;
    }
    h3 {
      font-size: 25px;
      color: #0160AF;
      font-weight: normal;
      a {
        color: #0160AF;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .info {
      line-height: 24px;
      padding: 10px 0;
    }
    .love {
      vertical-align: middle;
      img {
        vertical-align: middle;
      }
    }
  }
  .goods_btn {
    border-left: 1px solid #ccc;
    padding-left: 50px;
    margin-top: 30px;
    .btn {
      width: 161px;
      height: 38px;
      background: url(../img/goods_btn.gif) no-repeat;
      display: block;
      text-align: center;
      line-height: 36px;
      font-size: 16px;
      margin-bottom: 10px;
      position: relative;
      .btn_zu {
        position: absolute;
        top: 37px;
        left: 0;
        z-index: 2;
        display: none;
      }
      i {
        color: #C41019;
      }
      * {
        vertical-align: middle;
      }
      .small_btn {
        width: 161px;
        height: 31px;
        line-height: 31px;
        background: url(../img/btn_slide_down_menu.gif) no-repeat;
        display: block;
        &:hover {
          background: url(../img/btn_slide_down_menu_on.gif) no-repeat;
          color: #fff;
          * {
            color: #fff;
          }
        }
      }
    }
    .sha_btn {
      background: url(../img/dian_default.gif) no-repeat;
      text-indent: -999em;
      overflow: hidden;
      _zoom: 1;
      &:hover {
        background: url(../img/dian_hover.gif) no-repeat;
      }
    }
  }
}

//HOT INCAKE 您可能还会喜欢的
.goods_h3{
    h3{
        height: 0px;
        margin: 0 auto;
        width: 1200px;
        text-align: center;
        border-top: 1px solid #a0a0a0;
        span{
            display: inline-block;
            background: #fff;
            padding: 0 20px;
            color: $_blue;
            font-weight: normal;
            font-size: 15px;
            position: relative;
            top: -13px;
        }
    }
}

.goods_h3_list {
  width: 1195px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  overflow: hidden;
  .width {
    width: 1400px;
  }
  .iteam {
    background: url(../img/goods_h3_list.gif) no-repeat center right;
    float: left;
    width: 300px;
    text-align: center;
    p {
      line-height: 40px;
    }
  }
}
