@charset "utf-8";
@import "bianliang";
//顶部导航
body .index{
    padding-top: 0px;
}
.header .nav .menu a {
  color: #666;
  display: block;
  padding: 5px 0;
  line-height: 18px;
  &:hover {
    background-color: #359de4;
    color: #fff;
  }
}

.ui_mask {
    @include opacity(0.8);
}

.ui_popup {
  z-index: 999;
}

//右下角浮动窗口样式
.float_banner {
  position: fixed;
  right: 0px;
  bottom: 10px;
  _margin-bottom: 10px;
  _position: absolute;
  _bottom: auto;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
  .box_close {
    position: absolute;
    right: 15px;
    top: 0px;
  }
}
//头部浮动效果 主要内容有公告、分享
.ban_main{
  .left_ban{
    position: absolute;
    left: 30px;
    top: 102px;
    width: 84px;
    border: 1px solid #d5d5d5;
    background: #fff;
    padding: 10px;
    h5{
          text-align: center;
          border-bottom: 1px solid #d5d5d5;
          padding-bottom: 5px;
    }
    .box_close{
          position: absolute;
          right: -5px;
          top: -8px;
          width: 11px;
          height: 11px;
          display: inline-block;
    }
    .box_con{
          padding-top: 5px;
          font-size: 12px;
    }
  } 
  .right_ban {
    position: absolute;
    right: 50%;
    top: 102px;
    width: 46px;
    height: 187px;
    margin-right: -590px;
    .box_close {
      position: absolute;
      right: -5px;
      top: -8px;
      width: 11px;
      height: 11px;
      display: inline-block;
    }
    .bg {
      width: 46px;
      height: 187px;
      background: url(../img/ban/right_ban.gif) no-repeat;
    }
    .link {
      height: 46px;
      display: block;
      width: 46px;
      margin-bottom: 1px;
      &:hover .code {
        display: block;
      }
    }
    .code {
      min-width: 140px;
      min-height: 140px;
      position: absolute;
      right: 46px;
      top: 0;
      display: none;
    }
  }     
}

//大轮播banner
.main_banner {
    min-width: 1200px;
    *width: 1200px;
    margin: 0 auto;
    height: 500px;
    .swiper-wrapper{
        background: transparent;
    }
    .arrow-left{
        background: url(../img/arrows.png) no-repeat left top;
        position: absolute;
        left: 60px;
        top: 50%;
        margin-top: -15px;
        width: 17px;
        height: 30px;
        z-index: 2;
    }
    .arrow-right{
        background: url(../img/arrows.png) no-repeat left bottom;
        position: absolute;
        right: 60px;
        top: 50%;
        margin-top: -15px;
        width: 17px;
        height: 30px;
        z-index: 2;
    }
    .swiper-slide{
        a{
            display: block;
            text-align: center;
        }
        img{
            vertical-align: top;
            border: none;
            min-height: 500px;
        }
    }
    .pagination{
        background: url(../img/pagination_bg.png) no-repeat center bottom;
        position: absolute;
        left: 0;
        text-align: center;
        bottom: 0;
        width: 100%;
        padding-top: 50px;
        z-index: 2;
    }
    .swiper-pagination-switch {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background: #595858;
        margin: 0 3px;
        cursor: pointer;
    }
    .swiper-pagination-switch{
         *display: inline;
    }
    .swiper-active-switch {
        background: $_blue;
    }
}

//首页秒杀轮播
.kill_banner{
    width: 192px;
    height: 125px;
    .swiper-slide{
        *width: 192px;
        *overflow: hidden;
    }
}
.kill_left, .kill_left_img {
  height: 70px;
  float: left;
}
.kill_right {
  float: right;
  text-align: right;
}
.time-item {
  width: 220px;
  height: 33px;
}
.fnn_top{
    position: relative;
    width: 265px;
    float: right;
    margin-right: 32px;
    *margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0px;
    background: #ECF7FF;
    #state{
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin-top: 8px;
    }
    .kill{
        padding-left: 0;
        padding-top: 10px;
        margin-bottom: 16px;
    }
    .kill_text{
        width: auto;
        height: 70px;
        margin-left: 24px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .kill_right em{
        color: #3771B0;
        text-decoration: line-through;
    }
}
.count-down h4 {
  font-size: 30px;
  text-align: center;
  .number{
      width: 21px;
      height: 33px;
      line-height: 33px;
      color: #fff;
      display: inline-block;
      background: url(../img/countdown-bg.png) no-repeat;
  }
  .colon{
     width: 21px; 
     height: 33px;
     line-height: 33px;
     color: #000;
     display: inline-block;
  }
}
//下午茶模块
.afternoon-tea{
    float: right;
    *width: 225px;
    margin-right: 32px;
    margin-top: -20px;
    .title_banner{
        .imooc-icon{
            font-size: 42px;
        }
        p{
            height: 33px;
        }
    }
   .tea-box{
       margin-top: 15px;
       img{
           vertical-align: top;
       }
   } 
}
//产品展示轮播
.lunbo_banner{
    width: 848px;
    height: 227px;
    margin: 10px 0 20px 42px;
}
//首页主要内容main_container
.main_container{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}
.title_banner {
    position: relative;
    *zoom: 1;
    .imooc-icon{
        color: $_blue;
        font-size: 40px;
        position: absolute;
    }
    a {
        position: absolute;
        right: 10px;
        bottom: 0;
        color: $_blue;
        text-decoration: none;
    }
    p {
        color: $_blue;
        font-size: 21px;
        @include font-fm;
        margin: 0;
        margin-left: 40px;
        padding-top: 5px;
        border-bottom: 1px solid $_blue;
        strong{
            font-size: 13px;
            font-weight: normal;
        }
    }
}
.product_box{
    padding: 20px 32px 0;
}

//产品列表样式
.product_list{
    width: 1120px;
    margin: 0 auto;
    overflow: hidden;
    .max_width{
        margin-top: 30px;
        margin-right: -5px;
        overflow: hidden;
        li{
            position: relative;
            float: left;
            width: 180px;
            height: 180px;
            padding-left: 23px;
            padding-right: 22px;
            margin-bottom: 10px;
            text-align: center;
            list-style: none;
            background: url(../img/goods_list_line.gif) right center no-repeat;
            img{
                vertical-align: top;
                width: 100%;
            }
            a{
                display: block;
                overflow: hidden;
                p{
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    width: 225px\9;
                    margin: 0;
                    padding: 5px 0;
                    background: rgba(156,156,156,.6);
                    background: url(../img/black_transparent.png)\9;
                    color: #fff;
                    text-decoration: none\9;
                }
            }
        }
    }
}

//广告位轮播
.ad_banner{
    width: 1150px;
    height: 100px;
    border: 1px solid #e7e7e7;
}

//页尾快捷入口样式
.index_module {
  padding-top: 40px;
  background: #fff;
  @at-root {
    .base {
      width: 1200px;
      margin: 0 auto 20px;
      padding-top: 20px;
      border-top: 1px solid #408ac4;
      dt{
          img{
              height: 120px;
              width: 120px;
              vertical-align: top;
          }
          p{
             text-align: center; 
             line-height: 1;
          }
      }
    }
    .base_left_z {
      margin-left: 240px;
      padding-top: 10px;
      width: 432px;
      overflow: hidden;
      dl {
        float: left;
        width: 100px;
        margin-right: 8px;
        margin-bottom: 8px;
        text-align: center;
        font-size: 12px;
      }
      dt {
        font-weight: bold;
        margin-bottom: 10px;
      }
      dd{
          line-height: 1.8em;
          a{
              &:hover{
                  color: darken($_blue,10%);
              }
          }
      }
    }
    .base_right {
      height: 150px;
      border-left: 1px solid #408ac4;
      overflow: hidden;
      font-size: 13px;
      dt {
        float: left;
        margin-right: 35px;
      }
      dd {
        overflow: hidden;
        h6{
            font-weight: normal;
            font-size: 14px;
            margin-top: 5px;
        }
        p{
          font-size: 12px;
          line-height: 1.8em;
          margin-top: 5px;
          text-align: justify;
        }
      }
    }
    .base_dl {
        overflow: hidden;
        margin-left: 46px;
    }
    .base_left {
      width: 680px;
      float: left;
      position: relative;
    }
    .base_left_i{
        position: absolute;
        width: 220px;
        overflow: hidden;
        left: 12px;
        .imooc-icon{
            color: #0d2d90;
            font-size: 149px;
            padding: 0;
            text-decoration: none;
        }
    }
  }     
}
