@charset "utf-8";
@import "bianliang";
//导航
.header .city_list .city_link{
    &:hover{
        @include v-gradient(#5cbeef,#339ce4,#5cbeef);
    }
}
.header .header_con{
    background-color: #fff;
}
.new_Angle {
    position: absolute;
    left: 0;
    top: 0px;
}










