@charset "utf-8";
@import "bianliang";
//购物车页面样式
@import "order_module";
//购物车精美配件
@import "peijian";
@import "upload-pic";
%filter-gray{
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
    -webkit-filter: grayscale(1);
}
//套餐推荐样式
.car_package{
    .table{
        border-top: 1px solid #e0e4e7;
        tr{
            td{
                text-align: left;
                padding-left: 0;
                padding-right: 0;
            }
            td:first-child{
                div{
                   border-right: 1px solid #e0e4e7;
                }
            }
        }
        div{
            overflow: hidden;
            >img{
                float: left;
                margin: 0 80px 0px 50px;
            }
            .product_titler{
                margin-top: 10px;
                color: #1a6eb6;
                overflow: hidden;
                font-weight: normal;
            }
            p{
                overflow: hidden;
                del{
                    margin-right: 10px;
                }
            }
        }
    }
}
//弹框样式
.dialogbox{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 19999;
    width: 420px;
    height: 280px;
    margin-left: -210px;
    margin-top: -140px;
    border-radius: 5px;
    background: #fff;
    .diafooter{
        text-align: center;
        padding-bottom: 10px;
        button{
            width: 160px;
            height: 35px;
            border: none;
            outline: none;
            padding: 0;
            margin: 0 5px;
            cursor: pointer;
            &.ligbtn{
                background: #0e2f90;
                color: #fff;
            }
        }
    }    
}

//无货弹框样式
.invalid{
    .diaheader{
        padding: 20px 50px 0;
        font-size: 18px;
        line-height: 1.5em;
        color: #505050;
        span{
            color: red;
        }
    }
    .content{
        margin: 20px 50px 50px;
        overflow: hidden;
        @extend %filter-gray; 
        &.more{
            position: relative;
            &:after{
                position: absolute;
                bottom: 0;
                display: inline-block;
                content: '...';
            }
        }
      li{
          position: relative;
          float: left;
          width: 80px;
          height: 80px;
          margin: 0 5px 5px 0;
          border: 1px solid #c8c8c8;
          a{
              display: block;
          }
          mark{
              position: absolute;
              bottom: 0;
              right: 0;
              font-size: .65em;
          }
          img{
              width: 100%;
          }
      }  
    }
}

.selectcity{
    .diaheader{
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #dcdcdc;
        font-size: 18px;
    }
    .content{
        text-align: center;
        padding: 30px 40px;
        h6{
            margin-bottom: 20px;
            text-align: left;
            font-size: 18px;
            font-weight: normal; 
            color: #959595;
        }
        label{
            display: inline-block;
            margin: 15px 30px;
        }
        input{
            -webkit-appearance: none;
            outline: none;
            width: 16px;
            height: 16px;
            border: 1px solid #c9c9c9;
            border-radius: 100%;
            vertical-align: middle;
            background: #fff;
            &:checked{
                box-shadow: inset 0 0 0 2px #fff;
                background: #3b8cbb;
            }
        }
    }
}
.table_data .invalid{
    position: relative;
    @extend %filter-gray;
    mark{
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px;
        color: #fff;
        background: #666;
    }
}
