@charset "UTF-8";
.header .city_list .city_link:hover {
  background: #5cbeef;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#5cbeef), to(#339ce4));
  background-image: -webkit-linear-gradient(top, #5cbeef, #339ce4);
  background-image: -moz-linear-gradient(top, #5cbeef, #339ce4);
  background-image: -o-linear-gradient(top, #5cbeef, #339ce4);
  background-image: -ms-linear-gradient(top, #5cbeef, #339ce4);
  background-image: linear-gradient(to bottom, #5cbeef, #339ce4);
}

.header .header_con {
  background-color: #fff;
}

.new_Angle {
  position: absolute;
  left: 0;
  top: 0px;
}

.main_banner {
  min-width: 1200px;
  *width: 1200px;
  margin: 0 auto;
  height: 500px;
}
.main_banner .arrow-left {
  background: url(../img/arrows.png) no-repeat left top;
  position: absolute;
  left: 60px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
}
.main_banner .arrow-right {
  background: url(../img/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 60px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
}
.main_banner .swiper-slide a {
  display: block;
  text-align: center;
}
.main_banner .swiper-slide img {
  vertical-align: top;
  border: none;
  height: 500px;
  width: 100%;
}
.main_banner .pagination {
  background: url(../img/pagination_bg.png) no-repeat center bottom;
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  z-index: 2;
}
.main_banner .swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #595858;
  margin: 0 3px;
  cursor: pointer;
}
.main_banner .swiper-pagination-switch {
  *display: inline;
}
.main_banner .swiper-active-switch {
  background: #3b87c1;
}

.kill_banner {
  width: 192px;
  height: 125px;
}
.kill_banner .swiper-slide {
  *width: 192px;
  *overflow: hidden;
}

.fnn_top {
  position: relative;
  width: 265px;
  float: right;
  margin-right: 32px;
  *margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0px;
  background: #ECF7FF;
}
.fnn_top #state {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
}
.fnn_top .qg_time {
  position: static;
  margin: 0 auto;
}
.fnn_top .kill {
  padding-left: 0;
  margin-bottom: 16px;
}
.fnn_top .count-down h4 .number {
  float: none;
  display: inline-block;
}
.fnn_top .count-down h4 .colon {
  float: none;
  display: inline-block;
}
.fnn_top .kill_text {
  width: auto;
  margin-bottom: 10px;
}
.fnn_top .kill_right em {
  color: #3771B0;
  text-decoration: line-through;
}

.lunbo_banner {
  margin: 0;
  margin-left: 32px;
  width: 840px;
  height: 340px;
}

.main_container {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}

.title_banner {
  position: relative;
}
.title_banner .imooc-icon {
  color: #3b87c1;
  font-size: 40px;
  position: absolute;
}
.title_banner a {
  color: #3b87c1;
  position: absolute;
  right: 10px;
  text-decoration: none;
}
.title_banner p {
  color: #3b87c1;
  font-size: 21px;
  font-family: "Microsoft Yahei","微软雅黑";
  margin: 0;
  margin-left: 40px;
  padding-top: 5px;
  border-bottom: 1px solid #3b87c1;
}
.title_banner p strong {
  font-size: 13px;
  font-weight: normal;
}

.product_box {
  padding: 20px 32px 0;
}

.product_list {
  width: 1050px;
  margin: 0 auto;
}
.product_list .max_width {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  overflow: hidden;
  width: 1080px;
}
.product_list .max_width li {
  width: 240px;
  height: 240px;
  float: left;
  position: relative;
  text-align: center;
  list-style: none;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
}
.product_list .max_width li img {
  vertical-align: top;
  width: 100%;
}
.product_list .max_width li a {
  display: block;
}
.product_list .max_width li a p {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #9C9D9D \9;
  background: rgba(156, 156, 156, 0.6);
  color: #fff;
  padding: 5px 0;
  text-decoration: none\9;
  margin: 0;
}

.ad_banner {
  width: 1150px;
  height: 100px;
  border: 1px solid #e7e7e7;
}

.index_module {
  height: auto;
  margin-top: 40px;
  padding-top: 0;
}

.base_left {
  position: relative;
}

.base_left_i {
  position: absolute;
  float: none;
  padding-top: 12px;
  left: 0;
}
.base_left_i .imooc-icon {
  color: #0d2d90;
  font-size: 149px;
  padding: 0;
  text-decoration: none;
}

.base_left_z {
  float: none;
  margin-left: 240px;
  padding-top: 30px;
}

.footer {
  padding-bottom: 15px;
  clear: both;
}
.footer div {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.footer img {
  float: left;
}
.footer .foot {
  float: none;
  overflow: hidden;
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: auto;
  height: auto;
  text-decoration: none;
}

.description {
  margin: 0 auto;
}
.description td {
  vertical-align: top;
}
.description .goods_h1_main {
  padding-top: 5px;
  text-align: center;
}

.goods_h3 h3 {
  height: 0px;
  margin: 0 auto;
  width: 1200px;
  border-top: 1px solid #a0a0a0;
}
.goods_h3 h3 span {
  display: inline-block;
  background: #fff;
  padding: 0 20px;
  color: #3b87c1;
  font-weight: normal;
  font-size: 15px;
  position: relative;
  top: -13px;
}

.rukou {
  text-align: center;
}
.rukou li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
}
.rukou li a {
  font-size: 24px;
  color: #969495;
  padding: 0 10px 3px;
}
.rukou li a.active {
  color: #3b87c1;
  border-bottom: 5px solid #3b87c1;
}
.rukou li a .imooc-icon {
  font-size: 44px;
  position: relative;
  top: -2px;
  margin-right: 5px;
  vertical-align: middle;
}
.rukou li {
  display: inline\9;
}

.search_container {
  width: 1120px;
  overflow: hidden;
  margin: 36px auto 0;
}
.search_container label {
  float: left;
  margin-right: 32px;
  line-height: 46px;
  font-size: 20px;
}
.search_container label .imooc-icon {
  position: relative;
  top: 6px;
  font-size: 28px;
}
.search_container label s {
  width: 0;
  height: 0;
  margin-left: 18px;
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #8c8c8c;
  line-height: 0;
}
.search_container label s {
  display: inline\9;
}
.search_container .search_box .search_group {
  position: relative;
  width: 800px;
  border: 1px solid #bfbfbf;
  overflow: hidden;
  background: #fff;
}
.search_container .search_box .search_group input, .search_container .search_box .search_group button {
  height: 44px;
  border: none;
  background: none;
  outline: none;
}
.search_container .search_box .search_group input {
  float: left;
  line-height: 44px\9;
  font-size: 24px;
  text-indent: 10px;
  padding-right: 50px;
  width: 800px;
}
.search_container .search_box .search_group button {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 50px;
}
.search_container .search_box .search_group button .imooc-icon {
  color: #969291;
  font-size: 26px;
}
.search_container .quyu {
  margin-top: 20px;
  padding-right: 166px;
  line-height: 2.4em;
}
.search_container .quyu a {
  display: inline-block;
  font-size: 18px;
  margin-right: 36px;
}
.search_container .quyu a.active {
  color: #3b87c1;
}

.class {
  width: 1120px;
  margin: 20px auto;
  font-size: 18px;
}
.class span {
  padding-right: 14px;
  border-right: 1px solid #9b9b9b;
}
.class span .imooc-icon {
  font-size: 22px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.class a {
  padding: 0 10px;
  color: #727272;
}
.class a.active {
  color: #3b87c1;
}

.tuijian {
  position: fixed;
  _position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin-top: -200px;
  margin-left: -300px;
  background: #fff;
  z-index: 999999999;
}
.tuijian h5 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
}
.tuijian h4 {
  text-align: center;
  color: #005db3;
  font-weight: normal;
  font-size: 24px;
  line-height: 2.5em;
}
.tuijian h4 span {
  font-weight: bold;
}
.tuijian .inner_box {
  width: 400px;
  margin: 0px auto;
  overflow: hidden;
}
.tuijian .inner_box img {
  float: left;
  margin-right: 20px;
  width: 200px;
}
.tuijian .inner_box h6 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 40px;
}
.tuijian .inner_box p {
  font-size: 20px;
}
.tuijian .inner_box p strong {
  color: red;
  font-size: 1.5em;
}
.tuijian .inner_box p span {
  color: red;
}
.tuijian .ok {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background: #333a70;
  border: none;
  outline: none;
}

.yhq_container ul {
  overflow: hidden;
  padding-left: 20px;
  margin-right: -10px;
  margin-bottom: -26px;
}
.yhq_container li {
  width: 570px;
  height: 250px;
  float: left;
  margin-right: 28px;
  *margin-right: 24px;
  margin-bottom: 28px;
  *margin-bottom: 24px;
  border: 1px solid #dddddd;
  background: #f8f8f8;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#f2f4f3));
  background-image: -webkit-linear-gradient(top, #fff, #f2f4f3);
  background-image: -moz-linear-gradient(top, #fff, #f2f4f3);
  background-image: -o-linear-gradient(top, #fff, #f2f4f3);
  background-image: -ms-linear-gradient(top, #fff, #f2f4f3);
  background-image: linear-gradient(to bottom, #fff, #f2f4f3);
}
.yhq_container li .left {
  float: left;
  padding: 40px 0 0 50px;
}
.yhq_container li .left h2 {
  font-size: 26px;
  color: #065cb3;
}
.yhq_container li .left h3 {
  font-size: 20px;
  color: #065cb3;
  margin: 10px 0;
  font-weight: normal;
}
.yhq_container li .left p {
  color: #065cb3;
  font-size: 14px;
}
.yhq_container li .left div {
  color: #065cb3;
  font-size: 30px;
  margin-top: 10px;
}
.yhq_container li .left div del {
  color: #979596;
  font-size: 0.8em;
}
.yhq_container li .left div span {
  font-size: 2em;
}
.yhq_container li .right {
  float: right;
  margin-right: 50px;
  margin-top: 35px;
}
.yhq_container li .right img {
  vertical-align: top;
}
.yhq_container li .right a {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 23px;
  margin-top: 16px;
  background: #47a9e6;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#5ab8ec), to(#3399e1));
  background-image: -webkit-linear-gradient(top, #5ab8ec, #3399e1);
  background-image: -moz-linear-gradient(top, #5ab8ec, #3399e1);
  background-image: -o-linear-gradient(top, #5ab8ec, #3399e1);
  background-image: -ms-linear-gradient(top, #5ab8ec, #3399e1);
  background-image: linear-gradient(to bottom, #5ab8ec, #3399e1);
}

/*# sourceMappingURL=public.css.map */
